<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FieldVision_DHL_prod"
      connectionString="Data Source=SRV-DB-02\SRVDB02_2000;Initial Catalog=FieldVision_DHL_prod;Persist Security Info=True;User ID=con;Password=Fieldv!si0n"
      providerName="System.Data.SqlClient" />
    <add name ="Fieldvision_Consolidated_test"
         connectionString="Data Source=SRV-DB-02\SRVDB02_2005;Initial Catalog=FieldVision_Consolidated_test;Persist Security Info=True;User ID=con;Password=Fieldv!si0n"
         providerName="System.Data.SqlClient"/>
    <add name ="FieldVision_AlkenMaes_test"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=FieldVision_AlkenMaes_test;Data Source=SRV-DB-02\SRVDB02_2000"
         providerName="System.Data.SqlClient"/>
  <add name ="Fieldvision_Volta_Prod"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=Fieldvision_Volta_Prod;Data Source=SRV-DB-02\SRVDB02_2000"
         providerName="System.Data.SqlClient"/>
    <add name ="Fieldvision_Jaski_Test"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=FieldVision_Jaski_Prod_20110406;Data Source=SRV-DB-02\SRVDB02_2005"
         providerName="System.Data.SqlClient"/>
    <add name="Fieldvision_Geveke_Ontw"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=MobileWorkflow_Geveke_Ontw;Data Source=SRV-DB-02\srvdb02_2008"/>
    <add name="FSS-dev_Ontw"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=MobilityPlatform_FSS-dev_ONTW;Data Source=SRV-DB-02\srvdb02_2008"/>
    <add name="Fieldvision_Worksphere"
         connectionString="Password=FieldVision!;Persist Security Info=True;User ID=FieldVision;Initial Catalog=FieldVision;Data Source=10.2.250.4"/>
    <add name="MobilityPlatform_Planon_Ontw"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=con;Initial Catalog=MobilityPlatform_Planon_Ontw;Data Source=srv-db-03\srvdb03_2008r2"/>
    <add name="Fieldvision_Nuon_Ontw"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=con;Initial Catalog=Fieldvision_Nuon_ontw;Data Source=srv-db-02\srvdb02_2005" />
    <add name="DHL_ontw"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DHL_ontw;Data Source=." />
    <add name="AssaAbloy_Ontw"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=FieldVision_Assa_Ontw;Data Source=srv-db-02\srvdb02_2005;MultipleActiveResultSets=yes"/>
    <add name="Bosch_SP_ontw"
         connectionString="Password=Fieldv!si0n;Persist Security Info=True;User ID=con;Initial Catalog=FieldVision_Bosch_SP_ontw;Data Source=SRV-DB-02\SRVDB02_2005;MultipleActiveResultSets=yes"/>
  </connectionStrings>
</configuration>